[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-anti-theft
name: Prey Anti-Theft
description: Prey Anti-Theft
advice: Note that no more than three computers can be linked to a single (free) API KEY. Also, the uninstall script is not able to remove a device from the Prey server. After un-installing Prey on a computer, log in to your Prey account and manually delete the device.
https://panel.preyproject.com/devices
version: 1.8.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: install_mode
multivalue: False
editable: False
description: Install mode
values: ["copy files only", "full install"]
default: ["full install"]

[ProductProperty]
type: unicode
name: api_key
multivalue: False
editable: True
description: API KEY needed to link to Prey server
values: [""]
default: [""]

[Changelog]
ica-anti-theft (1.8.2-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  12/2/2018 17:27:21
